@* @model MetroshkaFestival.Application.Queries.Models.AgeGroups.GetAgeCategoryListQueryModel *@
@* @{ *@
@*     ViewData["Title"] = "Возрастные категории"; *@
@*     ViewData["Controller"] = "Tournament"; *@
@*     ViewBag.Tab = "tab0"; *@
@*     ViewBag.TabProfile = "tab0"; *@
@* } *@
@* <div class="row"> *@
@*     <h2 class="mt-3 col-sm">@ViewBag.Title | Всего: @Model.Tournaments.Count</h2> *@
@*     <div class="mt-3 col-sm-2 d-flex justify-content-center"> *@
@*         <form asp-area="Admin" asp-controller="AgeCategory" asp-action="" method="get"> *@
@*             <input class="btn btn-secondary" type="submit" value="Добавить категорию"/> *@
@*         </form> *@
@*     </div> *@
@*     <div class="dropdown-divider"></div> *@
@* </div> *@