@model MetroshkaFestival.Application.Commands.Records.Groups.AddGroupCommandRecord
@{
    ViewData["Title"] = "Добавление группы";
    ViewData["Controller"] = "Group";
}
<h2 class="mt-3 col-sm text-center">@ViewBag.Title</h2>

<form asp-action="AddGroup" method="post" class="container mt-4 col-8 rounded pr-4 pl-4 pb-2" enctype="multipart/form-data">
    <input data-val="true" asp-for="ReturnUrl" type="hidden" value="@Model?.ReturnUrl"/>
    <input data-val="true" asp-for="TournamentId" type="hidden" value="@Model?.TournamentId"/>

    <div class="form-group row pt-4">
        <div class="col-md-4">
            <label asp-for="Name" class="control-label col-form-label">Наименование</label>
        </div>
        <div class="col-md-6">
            @Html.DropDownListFor(x => x.Name, ViewBag.GroupNames as IEnumerable<SelectListItem>, new {@class = "form-control border-violet"})
            <span class="invalid-feedback d-none" asp-validation-for="Name" aria-required="true"></span>
        </div>
    </div>

    <div class="form-group row pt-4">
        <div class="col-md-4">
            <label asp-for="AgeCategoryId" class="control-label col-form-label">Возрастная категория</label>
        </div>
        <div class="col-md-6">
            @Html.DropDownListFor(x => x.AgeCategoryId, ViewBag.AgeCategories as IEnumerable<SelectListItem>, new {@class = "form-control border-violet"})
            <span class="invalid-feedback d-none" asp-validation-for="AgeCategoryId" aria-required="true"></span>
        </div>
    </div>

    <div class="form-group row justify-content-center">
        <input class="btn btn-success mt-2 col-4" type="submit" value="Добавить"/>
        <div class="form-group row justify-content-center mt-2">
            <a class="btn btn-danger btn-block col-4 text-center" asp-route-tournamentId="@Model.TournamentId" asp-area="Admin" asp-controller="Tournament" asp-action="TournamentSummary">Отменить</a>
        </div>
    </div>
    <div class="row justify-content-sm-center">
        <div asp-validation-summary="All" class="text-danger row mt-4 w-50"></div>
    </div>
</form>

@section Scripts
{
    <script src="~/js/checkInvalid.js"></script>
}